<div class="container my-5">


<div class="jumbotron">
    <h1 class="display-4">Hello There!!</h1>
    <p class="lead">Are you busy enough that you forget your schedule ?? </p>
    <hr class="my-4">
    <p>This is a simple Angular Based To-Do Lists, where you can add your Tasks, and finish them accordingly !</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Let's Start</a>
  </div></div>
  <div class="cc">
    <br>
  <p> Created by <b> <a href="https://www.github.com/IamLucif3r">github.com/IamLucif3r </a></b> </p>
</div>