<div class="my-5"></div>

<h4>Add A ToDo</h4>
<form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit(form)">
  <div class="form-group">
    <label for="title">ToDo Title</label>
    <input
      type="text"
      ngModel
      class="form-control"
      id="title"
      name="title"
      aria-describedby="emailHelp"
      required
    />
  </div>
  <div class="form-group">
    <label for="desc">Your ToDos</label>
    <input
      type="text"
      name="desc"
      ngModel
      class="form-control"
      id="desc"
      required
    />
  </div>

  <button type="submit" class="btn btn-sm btn-primary">Add ToDo</button>
</form>
<br />
<hr />
<br />
